

<div class="container">
    <main class="form-signin">
        <form>
            <h1 class="mb-3 h3 fw-normal">Please sign in</h1>

            <div class="m-2 form-floating form-group">
                <input type="text" class="form-control" id="floatingInput" placeholder="usuario" name="nombre_de_usuario">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="m-2 form-floating form-group">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="mb-3 checkbox">

            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</div>



