<%- include("../layout/open") %>
    <%- include("../layout/header-home") %>

        <section>
            <h1>Aqui se mostraran los candidatos Activos (No es parte del adminitrador)</h1>
        </section>

        <%- include("../layout/footer") %>
            <%- include("../layout/close") %>