<div class="row mt-4">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="text-white card-header bg-dark">
                Seleccione El partido por el cual desea votar
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">partido</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Votar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each partidos as |partido|}}
                            <tr>
                                <th scope="row">
                                    <h6 class="card-text">{{partido.nombre}}</h6>
                                    <img class="" alt="{{partido.nombre}}"
                                        src="{{partido.logo}}" width="100" height="100">
                                </th>
                                <td>{{partido.descripcion}}</td>
                                <td><button type="submit" class="btn btn-primary">
                                        Votar
                                    </button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>



                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>